# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/linkme"

# Auth
JWT_SECRET="your-super-secret-jwt-key"

# Payments (CCBill example)
CCBILL_SUBACCOUNT=
CCBILL_FORM_NAME=
CCBILL_SALT=
CCBILL_CLIENT_ACCNUM=
